@font-face {
    font-family: 'ADDLOG-FONT';
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src: url('../font/addlog-light.woff')  format('woff'),
         url('../font/addlog-light.ttf')   format('truetype')
}
@font-face {
    font-family: 'ADDLOG-FONT';
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url('../font/addlog-regular.woff')  format('woff'),
         url('../font/addlog-regular.ttf')   format('truetype')
}
@font-face {
    font-family: 'ADDLOG-FONT';
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url('../font/addlog-semibold.woff')  format('woff'),
         url('../font/addlog-semibold.ttf')   format('truetype')
}
@font-face {
    font-family: 'ADDLOG-ICON';
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
    src: url('../font/addlog-icon.woff') format('woff'),
         url('../font/addlog-icon.ttf') format('truetype');
}

* { 
    font-family: 'ADDLOG-FONT', sans-serif;
    box-sizing: border-box;
}

html {
    --main-background: #f6f9fc;

    --main-border-color: #e6ebf1;
    --main-border-color-high: #cfd7df;
    --main-border-color-bold: #8898aa;

    --main-font-color-low: #aab7c4;
    --main-font-color-med: #6b7c93;
    --main-font-color-high: #37474f;
    --main-font-color-bold: #263238;
    --main-font-color-black: #000000;

    --main-green-low: #74e4a2;
    --main-green-med: #3ecf8e;
    --main-green-high: #24b47e;
    --main-green-bold: #28a745;
    
    --main-yellow-med: #FDD835;

    --main-red-bold: #F44336;

    --main-blue-med: #17a2b8;
    --main-blue-bold: #007bff;
}
body {
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: #0000001a;

    /*background: var(--main-background);*/
    /*background-color: #F5F5F5;*/
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: #f0f0f0; }
::-webkit-scrollbar-thumb { 
    border-radius: 5px;
    background-color: #cdcdcd;
}
::-webkit-scrollbar-thumb:hover { background-color: #a0a0a0; }
::-webkit-scrollbar-thumb:active { background-color: #909090; }

.main-app {
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 0;
    border: 0;

    display: grid; 

    grid-template-columns: 240px 5px auto 233px;
    grid-template-rows: 100vh;
    /*border: 3px solid #00ff00;*/
}
.main-app-builder {
    background-color: #F5F5F5;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
    .main-app-builder-widget-holder {
        position: absolute;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        bottom: 5px;
        right: 5px;

        background-color: #ffffff;
        border: 1px solid var(--main-border-color-high);
        display: grid;

        grid-template-rows: 24px 24px 24px 1px 24px ;
        grid-auto-columns: 24px;

        border-radius: 4px;

        color: var(--main-font-color-high);
        z-index: 2;
    }
        .main-app-builder-widget-holder .divider { background-color: var(--main-border-color-high); }
        .main-app-builder-widget-holder .button {
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            border-radius: 2px;
        }
            .main-app-builder-widget-holder .button:hover { 
                background-color: var(--main-border-color);
                color: var(--main-font-color-high); 
            }
            .main-app-builder-widget-holder .button:active { color: var(--main-font-color-black); }
    .main-app-builder-toolbar {
        
    }
    .main-app-wrapper {
        margin: 0;
        padding: 0;
        border: 0;

        /*position: absolute;*/
        position: fixed;
        top: 0;
        left: 0;

        /*border: 3px solid #0000ff;*/
        /*box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);*/
        transform-origin: 0 0;
        background: url(../img/background.svg);

        /*border: 2px solid var(--main-border-color-high);*/

        /*transition: 0.2s ease;*/
    }
        .main-app-wrapper:focus {
             outline-style: dashed;
             outline-width: 2px;
             outline-offset: 1px;
             outline-color: inherit;
        }
    .main-app-svg {
        z-index: 0;
        display: block;
        pointer-events: none;
        /*border: 1px solid var(--main-border-color-high);*/
    }
        .main-app-svg line.moveable { 
            pointer-events: stroke; 
            cursor: col-resize;
        }
        /*.main-app-svg path:hover {
            cursor: col-resize;
            stroke-width: 6px;
        }*/
        .main-app-svg-path {
            stroke: var(--main-border-color-high);
            stroke-width: 3px;
            fill: none;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke-dasharray: 0.2%; 

            transition: .15s stroke-width linear,
                        .15s stroke linear;
        }
        .main-app-svg-path.linked { 
            stroke-dasharray: none;
            stroke-width: 3px;
        }
        .main-app-svg-path.connected { 
            stroke-dasharray: none;
            stroke-width: 5px;
        }
        .main-app-svg-path.error {
            stroke-dasharray: 0.1%; 
            stroke-width: 1px;
        }
.main-app-properties {
   /* width: 240px;*/
    background-color: #ffffff;
    border-left: 1px solid #e5e5e5;

    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;

    z-index: 3;
}
    .main-app-properties-content {
        padding: 8px 0;
        border-bottom: 1px solid #e5e5e5;
        display: none;
    }
        .main-app-properties-content.disabled,
        .main-app-properties-content.disabled input {
            background-color: #FAFAFA;
            color: #9E9E9E;
            pointer-events: none;
        }
    .main-app-properties-row {
        display: grid;
        grid-template-columns: repeat(28, 8px);
        grid-template-rows: 30px;

        align-items: center;
        overflow: hidden;

        font-size: 11px;

        color: var(--main-font-color-bold);
    }
        .main-app-properties-row.header { background-color: var(--main-background); }
        .main-app-properties-row textarea {
            grid-column-start: 2;
            grid-column-end: span 26;

            grid-row-start: 1;
            grid-row-end: 3;

            border: 1px solid var(--main-border-color);
            border-radius: 4px;
            padding: 2px 5px;

            width: 208px;
            height: 48px;
            resize: none;
            
            scrollbar-width: thin;

            font-size: 11px;
            font-weight: 300;
            color: var(--main-font-color-bold);
        }
        .main-app-properties-row select { font-size: 12px; }
        .main-app-properties-row input { font-size: 11px; }
        .main-app-properties-row select,
        .main-app-properties-row input[type=text] {
            border: 1px solid var(--main-border-color);
            border-radius: 4px;
            height: 24px;
            padding: 2px 5px;
        }
            .main-app-properties-row input[type=text].number { text-align: center; }
        .main-app-properties-row input[type=checkbox], 
        .main-app-properties-row input[type=radio] {
            margin: auto;
            padding: 0;
            cursor: pointer;
        }
        .main-app-properties-row input[type=checkbox] + label,
        .main-app-properties-row input[type=radio] + label {
            font-weight: 300;
            align-self: center;

            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            cursor: pointer;
        }
        .main-app-properties-row input[type=checkbox]:checked + label,
        .main-app-properties-row input[type=radio]:checked + label { font-weight: 600; }
        .main-app-properties-row input[type=button] {
            background-color: var(--main-background);
            border: 1px solid var(--main-border-color);
            
            cursor: pointer;
            outline: none;
            border-radius: 4px;
            height: 24px;
        }
            .main-app-properties-row input[type=button]:hover { 
                background-color: var(--main-border-color);
                border: 1px solid var(--main-border-color-high);
            }
            .main-app-properties-row input[type=button]:active { 
                background-color: var(--main-border-color-high);
                border: 1px solid var(--main-border-color-bold);
            }
            .main-app-properties-row input[type=button]:disabled { 
                color: var(--main-border-color-high);
                background-color: var(--main-background);
                border: 1px solid var(--main-border-color);
                cursor: default;
            }
        .main-app-properties-label {
            align-self: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
            .main-app-properties-label.header { 
                font-weight: 600;
                grid-column: 2 / span 23; 
            }
            .main-app-properties-label.row { grid-column: 2 / span 26; }

            .main-app-properties-label.help { 
                grid-column: 26 / span 2; 
                font-weight: 100;
                color: var(--main-font-color-low);
                cursor: pointer;
            }
                .main-app-properties-label.help:hover { color: var(--main-font-color-med); }
        .main-app-properties-text {
            font-weight: 400;
            text-transform: capitalize;

            align-self: center;            

            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;

            max-height: 28px;
        }
        .main-app-properties-color {
            width: 22px;
            height: 22px;

            line-height: 23px;
            color: #ffffff;

            border-radius: 50%;
            opacity: 0.4;

            margin: 0 1px !important;

            transition: 0.2s opacity linear,
                        0.2s border-radius linear;

            cursor: pointer;
        }
            .main-app-properties-color:hover { opacity: 1; }
            .main-app-properties-color.selected { 
                opacity: 1;
                border-radius: 20%;
             }
        .main-app-properties-type-icon {
            grid-column: 3 / span 2;
            text-align: center;
            font-size: 13px;
            color: var(--main-font-color-bold);
        }
        .main-app-properties-checkbox-label { padding-left: 8px; }
.main-app-treeview {
    /*width: 240px;*/
    background-color: #ffffff;
    /*border-right: 1px solid #e5e5e5;*/

    position: relative;

    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

    z-index: 2;
    color: var(--main-font-color-bold);
}
.main-app-treeview-col-resize {
    background-color: #f0f0f0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #f0f0f0;
    cursor: col-resize;
    z-index: 4;
}
    .main-app-treeview-col-resize:hover {
        background-color: #e0e0e0;
        border-right-color: #e0e0e0;
        border-left-color: #e0e0e0;
    }
    .main-app-treeview-items {
        padding: 0 0 0 0;

        display: flex;
        flex-direction: column;
    }
        .main-app-treeview-row {
            display: grid;
            height: 22px;

            /*grid-auto-rows: 22px;*/
            overflow: hidden;
            grid-template-rows: 22px;
            /*grid-template-columns: 10px auto 15px 15px;*/
        
            /*padding-left: 8px;
            padding-right: 8px;*/
            /*align-items: center;*/
            /*border: 1px solid transparent;*/
            transition: .15s height linear;
        }
            .main-app-treeview-row:hover {
                background-color: var(--main-background);
                outline: 1px solid var(--main-border-color);
            }
        .main-app-treeview-item {
            position: relative;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 11px;
            line-height: 22px;

            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: transparent;
        }
        .main-app-treeview-item.expand {
            grid-column-end: span 2;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            /*color: #B0BEC5;*/
            /*opacity: 0.5;*/
            
        }
            /*.main-app-treeview-item.expand:hover { color: var(--main-font-color-med); }*/
        .main-app-treeview-item.expand div {
            pointer-events: none;
            transform: rotate(0deg);
            font-size: 10px;
            line-height: 14px;
            width: 14px;
            transition: .15s transform linear;
        }
        .main-app-treeview-item.none {
            grid-column-end: span 2;
            color: #B0BEC5;
        }
        .main-app-treeview-item.field { padding: 0; }
        .main-app-treeview-item.field.empty {
            color: #9E9E9E !important;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 300;
        }
        .main-app-treeview-item.type { font-size: 10px; }
        .main-app-treeview-item-path {
            position: absolute;
            right: 0;
            top: 4px;

            font-size: 11px;
            line-height: 14px;

            background-color: var(--main-border-color);;
            border-radius: 2px;
            padding: 0 2px 0 1px;
            
            font-weight: 300;
            font-style: italic;
            /*border: 1px solid #eee;*/

            pointer-events: none;
            display: none;
        }
.app-cards {
    position: absolute;
    top: 0;
    left: 0;

    /*width: 250px;*/

    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .1);
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);*/
    /*box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);*/
    border-radius: 6px;
    background-color: #fff;

    border-width: 2px;
    border-style: solid;
    border-color: var(--main-border-color-high);
    opacity: 0.9;

    outline-color: var(--main-border-color-high);
}
    /*.app-cards:focus {
        outline-style: dashed;
        outline-width: 2px;
        outline-offset: 1px;

        border-color: transparent !important;
     }*/
    .app-cards-header {
        position: relative;

        color: #cfd7df;

        cursor: grab;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: 1px solid var(--main-border-color);

        display: grid;
        /*grid-template-columns: auto 25px 25px;*/
        grid-template-columns: 250px 25px 25px;

        align-items: center;
        background-color: var(--main-background);

        min-height: 28px;
    }
        .app-cards-header-title {
            font-size: 11px;
            font-weight: 600;
            padding: 0 10px;
            line-height: 18px;
            /*overflow: hidden;*/
            /*text-overflow: ellipsis;*/
            text-transform: uppercase;
        }
        .app-cards-header-title.root {
            color: var(--main-font-color-high);
            text-align: center;
        }
        .app-cards-header-button {
            cursor: pointer;
            font-size: 11px;
            line-height: 21px; 
            width: 21px;
            /*margin: 4px 0px;*/
            border-radius: 4px;
            justify-self: center;
        }
        .app-cards-header-button:hover  { background-color: var(--main-border-color); }
        .app-cards-header-button:active { background-color: var(--main-border-color-high); }
        
        .app-cards-header-button.new   { color: var(--main-green-bold); }
        .app-cards-header-button.close { color: var(--main-red-bold); }
    .app-cards-content {
        position: relative;
        display: grid;
        grid-template-columns: 18px auto;
        align-items: center;
        padding: 4px 0 4px 0;
        margin: 0;
        outline-color: inherit;
    }
        .app-cards-content-input {
            width: 18px;

            background-color: var(--main-border-color-high);
            border-radius: 0 6px 6px 0;

            font-size: 11px;
            line-height: 29px;
            color: #ffffff;            
        }
        .app-cards-content-items {
            display: flex;
            flex-direction: column;
            outline-color: inherit;
        }            
            .app-cards-content-items.root { padding: 4px 0 4px 0; }
            .app-cards-content-item {
                align-items: center;
                display: grid;
                grid-template-columns: 25px auto 20px 20px;
                grid-auto-rows: 32px;
                font-size: 11px;
                position: relative;
                color: var(--main-font-color-black);
                outline-color: inherit;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                transition: .15s background-color linear;
            }
                .app-cards-content-item.selected { background-color: var(--main-border-color) !important; }
                .app-cards-content-item.visibility { 
                    cursor: pointer; 
                    opacity: 0.85;
                }
                    .app-cards-content-item.visibility:hover { background-color: var(--main-background); }
                .app-cards-content-item.visibility input[type=text] {
                    background-color: transparent;
                    border-color: transparent;
                    pointer-events: none;
                }
            .app-cards-content-item-index {
                font-weight: 600;
                text-align: center;
            }
            .app-cards-content-item-visibility {
                background-color: var(--main-red-bold);
                color: #fff;
                border-radius: 20%;
                text-align: center;
                font-size: 9px;
                font-weight: 600;
                width: 16px;
                line-height: 16px;
                margin: 3px;
            }
            .app-cards-content-item input {
                font-weight: 600;
                border: 1px solid var(--main-border-color);
                font-size: 11px;
                border-radius: 4px;
                height: 24px;
                padding: 2px 5px;
                color: inherit;
            }
                .app-cards-content-item input:focus {
                    outline-width: 2px;
                    outline-style: dashed;
                    outline-color: inherit;

                    border-color: transparent;
                }
            .app-cards-content-item-output {
                cursor: pointer;
                background-color: var(--main-border-color);
                border-radius: 6px 0 0 6px;
                width: 18px;
                line-height: 22px;
                justify-self: right;
            }
                .app-cards-content-item-output:hover { background-color: var(--main-border-color-high); }
    .app-cards-bottom {
        position: relative;

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 4px 12px;
        border-top: 1px solid #0000000a;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        background-color: var(--main-background);
    }

/*// AUX CSS /////////////////////////////////////////////////////////////////*/
.remove-focus-select {
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}
.icon {
    font-family: 'ADDLOG-ICON' !important;
    font-weight: 100 !important;
    text-transform: none !important;;

    text-align: center;
    
    padding: 0;
    margin: 0;
    border: 0;
}
.crosshair {
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.2;
}