:root {
    --white: #FFFFFF;
    --black: #000000;
    --red:   #FF0000;
    --green: #008000;

    --red-base:#6a0d14;
    --red-1100:#d8062a;
    --red-1000:#ea2638;
    --red-900: #f83b45;
    --red-800: #f48984;
    --red-700: #fca5a0;
    --red-600: #ffbab5;
    --red-500: #ffcbc6;
    --red-400: #ffdad6;
    --red-300: #ffebe9;
    --red-200: #fff7f6;
    --red-100: #fffcfc;

    --green-base:#1c3b2a;
    --green-1100:#00814f;
    --green-1000:#168d5a;
    --green-900: #2b9a66;
    --green-800: #5fb888;
    --green-700: #8ecea9;
    --green-600: #addec0;
    --green-500: #c3e8d2;
    --green-400: #d5f1e0;
    --green-300: #e5f6ec;
    --green-200: #f4fbf7;
    --green-100: #fbfefc;

    --gray-base:#202020;
    --gray-1100:#464646;
    --gray-1000:#838383;
    --gray-900: #8d8d8d;
    --gray-800: #bbbbbb;
    --gray-700: #cecece;
    --gray-600: #dfdfdf;
    --gray-500: #e0e0e0;
    --gray-400: #e8e8e8;
    --gray-300: #f1f1f1;
    --gray-200: #f8f8f8;
    --gray-100: #ffffff;

    --purple-base: #321e6c;
    --purple-1100: #6841d3;
    --purple-1000: #7447ec;
    --purple-900: #8055fd;
    --purple-800: #a595ff;
    --purple-700: #bdb3ff;
    --purple-600: #d0c9ff;
    --purple-500: #ddd8ff;
    --purple-400: #e7e4ff;
    --purple-300: #f2f0ff;
    --purple-200: #f9f8ff;
    --purple-100: #fcfcff;

    --orange-base:#5b2a1c;
    --orange-1100:#dc3b00;
    --orange-1000:#f24905;
    --orange-900: #ff5924;
    --orange-800: #f98868;
    --orange-700: #ffa286;
    --orange-600: #ffb8a0;
    --orange-500: #ffc8b5;
    --orange-400: #ffd6c7;
    --orange-300: #ffe8de;
    --orange-200: #fff4f0;
    --orange-100: #fefcfb;

    --blue-base: #172c65;
    --blue-1100: #2c57dd;
    --blue-1000: #2f5be1;
    --blue-900: #3566fc;
    --blue-800: #7fa5fd;
    --blue-700: #a0bfff;
    --blue-600: #b7d2ff;
    --blue-500: #ccdfff;
    --blue-400: #ddeaff;
    --blue-300: #ebf2ff;
    --blue-200: #f6f9ff;
    --blue-100: #fcfdfe;
    
    --pink-base:#F51F7E;
    --pink-1000:#F6338A;
    --pink-900: #F74A98;
    --pink-800: #F860A4;
    --pink-700: #F977B2;
    --pink-600: #FA8EBE;
    --pink-500: #FBA5CB;
    --pink-400: #FCBBD8;
    --pink-300: #FDD2E5;
    --pink-200: #FEE8F2;
    --pink-100: #FEF3F8;


    --sky-base:#009DFF;
    --sky-1000:#19A6FF;
    --sky-900: #33B1FF;
    --sky-800: #4CBAFF;
    --sky-700: #66C4FF;
    --sky-600: #7FCEFF;
    --sky-500: #99D8FF;
    --sky-400: #B2E1FF;
    --sky-300: #CCEBFF;
    --sky-200: #E5F5FF;
    --sky-100: #F2FAFF;

    --cyan-base:#00BCD4;
    --cyan-1000:#19C2D8;
    --cyan-900: #33C9DD;
    --cyan-800: #4CD0E0;
    --cyan-700: #66D7E5;
    --cyan-600: #7FDDE9;
    --cyan-500: #99E4EE;
    --cyan-400: #B2EAF2;
    --cyan-300: #CCF2F6;
    --cyan-200: #E5F8FA;
    --cyan-100: #F2FBFD;

    --lime-base:#64DD17;
    --lime-1000:#73E02E;
    --lime-900: #83E445;
    --lime-800: #92E75C;
    --lime-700: #A2EB74;
    --lime-600: #B1EE8B;
    --lime-500: #C1F1A2;
    --lime-400: #D0F4B9;
    --lime-300: #E0F8D1;
    --lime-200: #EFFBE7;
    --lime-100: #F7FDF3;

    --yellow-1100:#f3a200;
    --yellow-base:#FFAB00;
    --yellow-1000:#FFB319;
    --yellow-900: #FFBC33;
    --yellow-800: #FFC44C;
    --yellow-700: #FFCD66;
    --yellow-600: #FFD57F;
    --yellow-500: #FFDD99;
    --yellow-400: #FFE5B2;
    --yellow-300: #FFEECC;
    --yellow-200: #FFF6E5;
    --yellow-100: #FFFBF2;

    --neutral-base:#7A7A7A;
    --neutral-1000:#8E8E8E;
    --neutral-900: #A2A2A2;
    --neutral-800: #B5B5B5;
    --neutral-700: #C5C5C5;
    --neutral-600: #D2D2D2;
    --neutral-500: #DDDDDD;
    --neutral-400: #E8E8E8;
    --neutral-300: #EFF0F1;
    --neutral-200: #F2F2F2;
    --neutral-100: #FAFAFA;

    /* --color-success: var(--green-base);
    --color-danger: var(--red-base);
    --color-info: var(--brand-base);
    --color-warning: var(--orange-base);
    --color-transparent: transparent;
    --light-base: var(--white);
    --light-1000: var(--gray-100);
    --light-500: #eff0f1;
    --dark-base: #263238;
    --dark-1000: #1f2c33; */

    /* --rgb-shadow-1: rgba(102, 102, 102, .09);
    --rgb-shadow-2: rgba(102, 102, 102, .06);
    --text-base: #101820;
    --text-500: #48626f;
    --text-100: #fff;
    --brand-base: #0b66ff;
    --brand-1000: #3c85ff;
    --brand-900: #0952cc;
    --icon-base: #7f949e; */

    --cellphone: 600px;
    --smallTablet: 900px;
    --tablet: 1200px;
    --desktop: 1600px;
}