/*// SIMULATE ////////////////////////////////////////////////////////////////*/
.simulate-app {
    position: absolute;
    left: -123px;
    top: 40px;

    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 10%);
    border: 2px solid var(--neutral-600);
    border-radius: 35px;

    background-color: var(--white);

    box-sizing: content-box;
    display: none;
}
    .simulate-app:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        left: 73%;
        top: -13px;
        border-bottom: 12px solid var(--neutral-600);
    }

    .simulate-content {
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 32px auto 32px;
        
        width: 208px;
        height: 410px;
    }
    .simulate-mobile-content {
        height: calc(var(--vh, 1vh) * 100);
        width:  calc(var(--vw, 1vh) * 100);

        overflow: hidden;
    }
        .simulate-content > .header {
            transform: translate(81px, 9px);

            width: 46px;
            height: 5px;

            border-radius: 6px;
            background-color: var(--neutral-200);
            border: 1px solid var(--neutral-400);
        }
            .simulate-content > .header:before {
                content: "";

                position: absolute;
                top: -2px;
                left: -12px;

                width: 6px;
                height: 6px;

                border-radius: 50%;
                background-color: var(--neutral-400);
            }
            .simulate-content > .header::after {
                content: "";

                position: absolute;
                top: -2px;
                left: 51px;

                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--neutral-400);
            }

        .simulate-content > .container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto min-content;
            overflow: hidden;

            height: 100%;

            margin: 0 8px;
            border-radius: 8px;

            -webkit-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }
        .simulate-mobile-content > .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            -webkit-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
        }
            .container > .controls {
                display: flex;
                flex-direction: column;

                height: 0;
                transition: .15s height ease;
            }
                .controls button:focus-visible { 
                    outline-offset: -2px;
                    outline-width: 1px;
                    outline-style: dashed;
                }

                /* // .CONTROLS-BUTTONS //////////////////////////////////////*/
                .controls > .controls-buttons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: center;
                    gap: 1px;
                    background-color: var(--neutral-400);
                    /* box-shadow: 0px 0px 6px 2px var(--neutral-500); */
                    z-index: 1;
                }
                    .controls-buttons > button {
                        flex: 1 1 0;
                        font-size: 10px;
                        text-align: center;
                        line-height: 30px;
                        text-transform: uppercase;
                        font-weight: 600;

                        cursor: pointer;
                        color: var(--white);
                        border-radius: 1px;

                        transition: 0.15s background-color linear;
                    }

                        .controls-buttons > button.confirm { background-color: var(--blue-base);   }
                        .controls-buttons > button.back    { background-color: var(--yellow-base); }
                        .controls-buttons > button.clear   { background-color: var(--red-base);  }

                        .controls-buttons > button:hover:not([disabled])  { filter: brightness(0.95); }
                        @media (hover: none) { .controls-buttons > button:hover { filter: none; } }
                        .controls-buttons > button:active:not([disabled]) { filter: brightness(0.90); }
                        .controls-buttons > button:focus-visible { outline-color: var(--white); }

                        .controls-buttons > button:disabled {
                            background-color: var(--neutral-300);
                            color: var(--neutral-700);
                            pointer-events: none;
                            cursor: default;
                        }

                .simulate-content > .container > .controls > .keyboard {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: var(--neutral-300);

                    border-left: 1px solid var(--neutral-300);
                    border-right: 1px solid var(--neutral-300);
                    border-bottom: 1px solid var(--neutral-300);

                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;

                    gap: 1px;
                }
                .simulate-mobile-content > .container > .controls > .keyboard {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: var(--neutral-200);
                    gap: 1px;
                }

                    .keyboard > button {
                        background-color: var(--neutral-100);
                        font-size: 12px;
                        text-align: center;
                        border-radius: 2px;
                        font-weight: 600;
                        color: var(--black);
                        cursor: pointer;
                        line-height: 26px;
                    }
                        .simulate-content .keyboard > button:nth-child(10) { border-bottom-left-radius: 7px; }
                        .simulate-content .keyboard > button:nth-child(12) { border-bottom-right-radius: 7px; }

                        /* .keyboard > button:hover { background-color: var(--neutral-300); }
                        @media (hover: none) { .keyboard > button:hover { background-color: none; } } */

                        .keyboard > button:hover { filter: brightness(0.97); }
                        @media (hover: none) { .keyboard > button:hover { filter: none; } }
                        .keyboard > button:active { filter: brightness(0.95); } 
                        .keyboard > button:focus-visible { outline-color: var(--neutral-700); }

            .simulate-content > .container > .main {
                flex-grow: 1;
                position: relative;

                border: 1px solid var(--neutral-300);

                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                overflow-x: hidden;
                overflow-y: hidden;

                background-color: var(--white);
            }
            .simulate-mobile-content > .container > .main {
                flex-grow: 1;
                position: relative;

                overflow-x: hidden;
                overflow-y: hidden;

                background-color: var(--white);
            }
                .container > .main.with-keyboard {
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .container-main-slide {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: stretch;
                
                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: 100%;

                    overflow: hidden;

                    animation-duration: .2s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    animation-direction: normal;
                    animation-fill-mode: both;
                    animation-play-state: running;
                }
                    @keyframes main_slide_show {
                        from { left: 100%; } 
                        to   { left: 0; }
                    }
                    @keyframes main_slide_hide {
                        from { left: 0; } 
                        to   { left: -100%; opacity: 0.6;}
                    }
                    .container-main-slide > .navbar {
                        flex-shrink: 0;
                        flex-grow: 0;

                        background-color: var(--neutral-200);

                        display: grid;
                        align-items: center;
                        grid-template-columns: 24px auto;
                        grid-auto-rows: 22px;

                        font-size: 11px;
                        font-weight: 600;
                        z-index: 2;
                    }
                        .navbar-icon {
                            text-align: center;
                            font-size: 10px;
                        }
                        .navbar-text {
                            padding: 0 2px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .navbar + .navbar {
                            border-top: 1px solid var(--neutral-400);
                        }
                    .container-main-slide > .item-space { 
                        flex: 0 0 4px; 
                        box-shadow: 0px 0px 6px 2px var(--neutral-500);
                        z-index: 1;
                    }

                    /* // WRAPPER ////////////////////////////////////////////*/
                    .container-main-slide > .itens-wrapper {
                        flex: 1 1 0;

                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: stretch;

                        overflow-x: hidden;
                        overflow-y: auto;
                        scrollbar-width: thin;

                        z-index: 0;
                    }
                        .itens-wrapper > .item-divider {
                            flex: 0 0 1px;
                            background-color: var(--neutral-200);
                        }

                        /* // LIST ///////////////////////////////////////////*/
                        .itens-wrapper > .item-list {
                            flex-shrink: 0;
                            flex-grow: 0;

                            display: grid;
                            align-items: stretch;
                            /* grid-template-columns: 34px auto; */

                            cursor: pointer;
                            overflow: hidden;

                            background-color: transparent;
                            animation: .2s ease 0s 1 normal both paused shrink_item_list;
                        }
                            .item-list:hover  { background-color: var(--neutral-100); }
                            .item-list:active { background-color: var(--neutral-200); }
                            .itens-wrapper > .item-list.selected-item { background-color: var(--blue-100); }
                            @keyframes shrink_item_list {
                                from { flex-basis: 50px; opacity: 1; } 
                                to   { flex-basis:  0px; opacity: 0; }
                            }
                            @keyframes stretch_item_list {
                                from { flex-basis:  0px; opacity: 0; }
                                to   { flex-basis: 50px; opacity: 1; } 
                            }
                                .item-input-type { 
                                    display: grid;
                                    grid-template-columns: 38px auto 24px; 
                                    pointer-events: none;
                                }
                                    .item-list-icon {
                                        margin: auto;
                                        pointer-events: none;
                                    }
                                        .item-list-icon.small { font-size: 10px; }

                                    .item-list-block {
                                        display: flex;
                                        justify-content: center;
                                        flex-wrap: nowrap;
                                        flex-direction: column;
                                        gap: 2px;
                                        overflow: hidden;

                                        pointer-events: none;
                                    }
                                        .item-list-block > .item-list-header {
                                            display: block;
                                            font-size: 10px;
                                            font-weight: 600;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            /* white-space: nowrap; */
                                            /* max-height: 28px; */

                                            pointer-events: none;
                                        }
                                        .item-list-block > .item-list-subheader {
                                            color: var(--neutral-900);
                                            font-size: 9px;
                                            font-weight: 400;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;

                                            pointer-events: none;
                                        }

                        /* // INPUT //////////////////////////////////////////*/
                        .itens-wrapper > .item-input {
                            position: relative;
                            overflow: hidden;

                            flex-grow: 0;
                            flex-shrink: 1;
                            flex-basis: 0;

                            gap: 5px;

                            display: flex;
                            flex-direction: column;
                            align-items: stretch;
                            justify-content: center;

                            background-color: transparent;
                            animation: .2s ease 0s 1 normal both paused stretch_item_inputs;
                        }
                            @keyframes stretch_item_inputs {
                                from { opacity: 0; }
                                to   { opacity: 1; flex-grow:  1; }
                            }
                            @keyframes shrink_item_inputs {
                                from { flex-grow: 1; opacity: 1; } 
                                to   { flex-grow: 0; opacity: 0; }
                            }
                            @keyframes rewind_item_inputs {
                                from { flex-grow: 1; } 
                                to   { flex-grow: 0; min-height: 50px;}
                            }
                            .item-input-box {
                                flex-grow: 0;
                                flex-shrink: 1;
                                flex-basis: 50px;

                                position: relative;
                                background-color: var(--neutral-100);
                                /* background-color: var(--white); */
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                
                                border-bottom-width: 1px;
                                border-top-width: 1px;
                                border-style: solid;
                                /* border-color: var(--neutral-200); */
                                color: var(--black);
                                
                                height: 50px;
                                /* margin: 10px; */
                                padding: 0 5px 0 5px;
                                /* border-top-left-radius: 4px;
                                border-top-right-radius: 4px; */
                                font-weight: 600;
                                font-size: 28px;

                                outline: none;
                            }
                                .item-input-box::after {
                                    content: attr(data-info);
                                    position: absolute;
                                    bottom: -16px;
                                    left: 0;
                                    width: 100%;
                                    text-align: center;
                                    font-size: 10px;
                                    font-weight: 400;
                                    color: var(--red-base);
                                }
                            .item-input > .item-drawing {
                                position: absolute;
                                top: 0;
                                left: 0;
                            }

                            /* CALENDAR //////////////////////////////////////*/
                            .item-input > .calendar { position: relative; }
                            .item-input > .calendar > .header {
                                display: grid;
                                grid-template-columns: 1fr 3fr 2fr 1fr;
                                grid-template-rows: 32px;
                                gap: 2px;
                                align-items: center;
                                justify-items: center;

                                font-size: 10px;
                                font-weight: 600;
                                text-transform: uppercase;
                                
                                padding: 0 4px;
                                background-color: var(--neutral-200);

                                border-top: 1px solid var(--neutral-400);
                                border-bottom: 1px solid var(--neutral-400);
                            }

                                .item-input > .calendar > .header > div,
                                .item-input > .calendar > .footer > div {
                                    width: 100%;
                                    line-height: 25px;
                                    text-align: center;
                                    cursor: pointer;
                                    border-radius: 3px;

                                    font-size: 11px;
                                }
                                .item-input > .calendar > .header > span { color: var(--neutral-base); }

                                    .item-input > .calendar > .header > div:hover,
                                    .item-input > .calendar > .footer > div:hover,
                                    .item-input > .calendar > .month > div:hover { background-color: var(--neutral-400); }
                                    @media (hover: none) {
                                        .item-input > .calendar > .header > div:hover,
                                        .item-input > .calendar > .footer > div:hover { background-color: transparent; } 
                                        .item-input > .calendar > .month > div:hover { background-color: var(--neutral-100); } 
                                    }
                                    .item-input > .calendar > .header > div:active,
                                    .item-input > .calendar > .footer > div:active,
                                    .item-input > .calendar > .month > div:active { background-color: var(--neutral-600); }

                            .item-input > .calendar .week-header {
                                display: grid;
                                grid-template-columns: repeat(7, 1fr);
                                grid-template-rows: 22px;
                                align-items: center;
                                justify-items: center;

                                font-size: 8px;
                                font-weight: 600;
                                text-transform: uppercase;

                                background-color: var(--neutral-100);
                                color: var(--neutral-900);
                            }

                            .item-input > .calendar > .week {
                                display: grid;
                                grid-template-columns: repeat(7, 1fr);
                                grid-auto-rows: 26px;
                                align-items: center;
                                justify-items: center;

                                font-size: 12px;
                                font-weight: 600;
                            }
                                .item-input > .calendar > .week > div {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                    .item-input > .calendar > .week > div:nth-child(7n),
                                    .item-input > .calendar > .week > div:nth-child(7n + 1) { background-color: var(--neutral-100);}
                                .item-input > .calendar > .week > div > span {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    width: 26px;
                                    height: 26px;
                                    border-radius: 50%;

                                    cursor: pointer;
                                    transition: .15s border-width ease;
                                }
                                    .item-input > .calendar > .week > div > span.selected { 
                                        border-width: 3px;
                                        border-style: solid;
                                    }
                            .item-input > .calendar > .month {
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                                left: 0;
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                grid-auto-rows: 34px;
                                align-items: center;
                                justify-items: center;
                                gap: 4px;
                                padding: 0 4px;
                                background-color: var(--white);
                                visibility: hidden;
                            }
                                .item-input > .calendar > .month > div {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    font-weight: 600;
                                    font-size: 9px;
                                    text-transform: uppercase;
                                    cursor: pointer;

                                    border-radius: 3px;
                                    background-color: var(--neutral-100);
                                }
                            .item-input > .calendar > .footer {
                                display: grid;
                                grid-template-columns: 1fr 2fr;
                                grid-template-rows: 30px;
                                align-items: center;
                                justify-items: center;

                                font-size: 10px;
                                font-weight: 600;
                                text-transform: uppercase;
                                
                                padding: 0 4px;
                                background-color: var(--neutral-200);

                                border-top: 1px solid var(--neutral-400);
                                border-bottom: 1px solid var(--neutral-400);
                            }
                            /* TIME PICKER ///////////////////////////////////*/
.picker {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    border-top: 1px solid var(--neutral-300);
    border-bottom: 1px solid var(--neutral-300);

    position: relative;
}
    .picker-mask { 
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        height: 28px;
        width: 100%;

        border-top: 1px solid var(--neutral-200);
        border-bottom: 1px solid var(--neutral-200);
        
        background-color: var(--neutral-100);
    }
    .picker-body {
        overflow: hidden;

        font-size: 13px;
        font-weight: 600;

        text-align: center;
        line-height: 24px;

        position: relative;
        flex: 1 1 0;
    }
        .picker-body::before,
        .picker-body::after {
            content: '';
            
            position: absolute;
            left: 0;
            right: 0;
            height: 50%;

            z-index: 1;
        }
        .picker-body::before {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            top: 0;
        }
        .picker-body::after {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            bottom: 0;
        }
        .picker-body + .picker-body { 
            border-image-source: linear-gradient(0deg, var(--white), var(--neutral-400) 50%, var(--white));
            border-image-slice: 1;
            border-left-width: 1px;
            border-style: solid;
        }
    .picker-list { 
        position: relative;
        margin: -24px 0;
    }
        .picker-item { color: var(--neutral-800); }
        .picker-picked { font-size: 20px; }



        .simulate-content > .footer {
            transform: translate(79px, 7px);

            width: 50px;
            height: 16px;

            border-radius: 8px;
            background-color: var(--neutral-200);
            border: 1px solid var(--neutral-400);
        }

        .take-picture {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);

            width: 40px;
            height: 40px;

            background-color: var(--neutral-200);
            border: 3px solid var(--red);
            border-radius: 50%;

            color: var(--red);
            text-align: center;
            font-size: 16px;
            line-height: 33px;

            z-index: 1;
        }
        .loading-resources-icon {
            font-size: 42px;
            animation: pulse ease-out 2s infinite;
        }
        .loading-resources-text {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }
        @keyframes pulse {
            0% { transform: scale(0.90); }
            70% { transform: scale(1); opacity: 0.9;}
            100% { transform: scale(0.90); }
        }
/*
<div style="
    text-align: center;
    background-color: var(--orange-100);
    border-radius: 5px;
    font-size: 10px;
    margin: 2px 8px;
    padding: 3px;
    font-weight: 600;
    color: var(--red-base);
">valor deve ser maior que 1.98</div>
*/