/*// SIMULATE ////////////////////////////////////////////////////////////////*/
.simulate-app {
    position: absolute;
    left: -123px;
    top: 40px;

    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 10%);
    border: 2px solid var(--neutral-600);;
    border-radius: 35px;

    background-color: var(--white);

    box-sizing: content-box;
    display: none;
}
    .simulate-app:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        left: 73%;
        top: -13px;
        border-bottom: 12px solid var(--neutral-600);
    }

    .simulate-content {
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 32px auto 32px;
        
        width: 208px;
        height: 410px;
    }
        .simulate-content > .header {
            transform: translate(81px, 9px);

            width: 46px;
            height: 5px;

            border-radius: 6px;
            background-color: var(--neutral-200);
            border: 1px solid var(--neutral-400);
        }
            .simulate-content > .header:before {
                content: "";

                position: absolute;
                top: -2px;
                left: -12px;

                width: 6px;
                height: 6px;

                border-radius: 50%;
                background-color: var(--neutral-400);;
            }
            .simulate-content > .header::after {
                content: "";

                position: absolute;
                top: -2px;
                left: 51px;

                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: var(--neutral-400);;
            }

        .simulate-content > .container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto min-content;
            overflow: hidden;

            margin: 0 8px;
            border-radius: 8px;
        }
            .container > .controls {
                display: flex;
                flex-direction: column;

                height: 0;
                transition: .15s height linear;
            }
                .controls > .controls-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 30px;
                }
                    .controls-buttons > div {
                        text-align: center;
                        line-height: 30px;
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 600;

                        cursor: pointer;
                        color: var(--white);
                    }
                        .controls-buttons > div.confirm { background-color: var(--blue-800); }
                        .controls-buttons > div.confirm:hover { background-color: var(--blue-900); }
                        .controls-buttons > div.confirm:active { background-color: var(--blue-base); }

                        .controls-buttons > div.back { background-color: var(--yellow-800); }
                        .controls-buttons > div.back:hover { background-color: var(--yellow-900); }
                        .controls-buttons > div.back:active { background-color: var(--yellow-base); }

                .controls > .keyboard {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    font-size: 12px;
                    background-color: var(--neutral-200);
                }
                    .keyboard-key {
                        border-radius: 5px;
                        font-weight: 600;
                        color: var(--black);
                        cursor: pointer;
                        text-align: center;
                        line-height: 25px;
                    }
                        .keyboard-key:hover { background-color: var(--neutral-400); }
                        .keyboard-key:active { 
                            transform: scale(.94);
                            background-color: var(--neutral-500);
                        }

            .container > .main {
                position: relative;

                border: 1px solid var(--neutral-300);

                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                overflow-x: hidden;
                overflow-y: scroll;
                scrollbar-width: thin;

                background-color: var(--white);
                /* color: var(--black */
            }
                .container > .main.with-keyboard {
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .container-main-slide {
                    position: absolute;
                    top: 0;
                    left: 100%;

                    width: 100%;
                    height: 100%;

                    transition: .15s left linear;
                }
                    .container-main-slide > .navbar {
                        background-color: var(--neutral-200);;

                        display: grid;
                        align-items: center;
                        grid-template-columns: 24px auto;

                        font-size: 11px;
                        font-weight: 600;

                        line-height: 24px;
                    }
                        .navbar-icon {
                            text-align: center;
                            font-size: 10px;
                        }
                        .navbar-text {
                            padding: 0 2px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                    .container-main-slide > .item-divider {
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: var(--neutral-200);;

                        /* transition: .15s height; */
                    }
                    .container-main-slide > .item-space {
                        display: block;
                        height: 4px;
                        width: 100%;
                    }

                    /* // LIST ///////////////////////////////////////////////////*/
                    .container-main-slide > .item-list {
                        display: grid;
                        grid-template-columns: 34px auto;

                        cursor: pointer;
                        overflow: hidden;

                        background-color: transparent;
                        animation: .15s linear 0s 1 normal both paused shrink_item_list;
                    }
                        @keyframes shrink_item_list {
                            from { height: 50px; opacity: 1; } 
                            to   { height:  0px; opacity: 0; }
                        }
                        .item-list.input-type { grid-template-columns: 34px auto 24px; }
                        .item-list:first  { margin-top: 4px; }
                        .item-list:hover  { background-color: var(--neutral-100); }
                        .item-list:active { background-color: var(--neutral-200); }

                        .item-list-icon {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 15px;
                            /* border-radius: 2px; */
                            pointer-events: none;
                        }
                            .item-list-icon.small { font-size: 11px; }

                        .item-list-block {
                            display: flex;
                            pointer-events: none;
                            justify-content: center;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            overflow: hidden;

                            pointer-events: none;
                        }
                            .item-list-header {
                                display: block;
                                font-size: 11px;
                                font-weight: 600;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                pointer-events: none;
                            }
                            .item-list-subheader {
                                color: var(--neutral-800);;
                                font-size: 9px;
                                font-weight: 400;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                pointer-events: none;
                            }

                    /* // INPUT //////////////////////////////////////////////////*/
                    .container-main-slide > .item-input {
                        position: relative;
                        overflow: hidden;

                        background-color: transparent;

                        animation-duration: .15s;
                        animation-timing-function: linear;
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                        animation-direction: normal;
                        animation-fill-mode: both;
                        animation-play-state: paused;
                        animation-name: stretch_item_input;
                    }
                        @keyframes stretch_item_input {
                            from { padding:  0px; height:  50px; }
                            to   { padding: 10px; height: 110px; }
                        }
                        @keyframes stretch_item_inputs {
                            from { padding:  0px; height:   0px; opacity: 0;}
                            to   { padding: 10px; height: 110px; opacity: 1;}
                        }
                        @keyframes shrink_item_input {
                            from { height: 110px; padding: 10px; opacity: 1; } 
                            to   { height: 0px; opacity: 0; }
                        }
                        .item-input > .item-input-block {
                            display: grid;
                            grid-template-columns: 34px auto;
                            grid-template-rows: 50px;
                        }
                            .item-input-box {
                                border-width: 2px;
                                border-style: solid;

                                color: var(--black);
                                padding: 0 10px 0 10px;
                                height: 40px;
                                border-radius: 8px;
                                font-weight: 600;
                                font-size: 18px;
                                width: 100%;
                                outline: none;

                                background-color: var(--neutral-100);
                            }
        .simulate-content > .footer {
            transform: translate(79px, 7px);

            width: 50px;
            height: 16px;

            border-radius: 8px;
            background-color: var(--neutral-200);
            border: 1px solid var(--neutral-400);
        }