/*// SIMULATE ////////////////////////////////////////////////////////////////*/
.simulate-app {
    position: absolute;
    left: -123px;
    top: 40px;

    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 10%);
    border: 2px solid #bdbdbd;
    border-radius: 35px;

    background-color: #fafafa;

    box-sizing: content-box;
    display: none;
}
    .simulate-app:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid #0000;
        border-right: 10px solid #0000;
        position: absolute;
        left: 73%;
        top: -13px;
        border-bottom: 12px solid #bdbdbd;
    }

    .simulate-content {
        position: relative;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35px auto 35px;
        
        width: 208px;
        height: 410px;
    }
        .simulate-content > .header {
            transform: translate(81px, 9px);

            width: 46px;
            height: 5px;

            border-radius: 6px;
            border: 1px solid #e0e0e0;
            background-color: #eeeeee;
        }
            .header:before {
                content: "";

                position: absolute;
                top: -2px;
                left: -12px;

                width: 6px;
                height: 6px;

                border-radius: 50%;
                background-color: #eeeeee;
            }
            .header::after {
                content: "";

                position: absolute;
                top: -2px;
                left: 51px;

                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #eeeeee;
            }

        .simulate-content > .container {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto min-content;
            overflow: hidden;

            margin: 8px;
            border-radius: 8px;
        }
            .container > .controls {
                display: flex;
                flex-direction: column;

                /* padding: 0 8px; */

                height: 0;
                transition: .15s height linear;
            }
                .controls > .controls-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 30px;
                }
                .controls-buttons > div {
                    text-align: center;
                    line-height: 30px;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: 600;

                    cursor: pointer;
                    color: white;
                }
                .controls > .keyboard {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    font-size: 12px;
                }
                    .keyboard-key {
                        background-color: #f5f5f5;
                        font-weight: 600;
                        color: var(--main-font-color-high);
                        cursor: pointer;
                        text-align: center;
                        line-height: 25px;
                    }
                        .keyboard-key:hover { background-color: #f0f0f0; }
                        .keyboard-key:active { background-color: #e5e5e5; }

            .container > .main {
                position: relative;

                /* margin: 0 8px; */
                border: 1px solid #f5f5f5;
                border-radius: 2px;

                overflow-x: hidden;
                overflow-y: scroll;
                scrollbar-width: thin;

                background-color: #ffffff;
                color: var(--main-font-color-bold);
            }
                .container-main-slide {
                    position: absolute;
                    top: 0;
                    left: 100%;

                    width: 100%;
                    height: 100%;

                    /* display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap; */

                    transition: .15s left linear;
                }
                    .container-main-slide > .navbar {
                        background-color: #f5f5f5;

                        display: grid;
                        align-items: center;
                        grid-template-columns: 24px auto;

                        font-size: 11px;
                        font-weight: 600;

                        line-height: 24px;
                    }
                        .navbar-icon {
                            text-align: center;
                            font-size: 10px;
                        }
                        .navbar-text {
                            padding: 0 2px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                    .container-main-slide > .item-divider {
                        display: block;
                        height: 1px;
                        width: 100%;
                        background-color: #f5f5f5;

                        /* transition: .15s height; */
                    }
                    .container-main-slide > .item-space {
                        display: block;
                        height: 4px;
                        width: 100%;
                    }

                    /* // LIST ///////////////////////////////////////////////////*/
                    .container-main-slide > .item-list {
                        display: grid;
                        grid-template-columns: 34px auto;
                        /* grid-template-rows: 50px; */

                        /* height: 50px; */

                        cursor: pointer;
                        overflow: hidden;

                        /* background-color: #ffffff; */
                        background-color: transparent;

                        animation-name: shrink_item_list;
                        animation-duration: .15s;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-play-state: paused;
                    }
                        @keyframes shrink_item_list {
                            from {
                                height: 50px;
                                opacity: 1;
                            }
                            to { 
                                opacity: 0;
                                height: 0px;
                            }
                        }
                        .item-list.input-type { grid-template-columns: 34px auto 24px; }
                        .item-list:first  { margin-top: 4px; }
                        .item-list:hover  { background-color: #fafafa; }
                        .item-list:active { background-color: #f5f5f5; }

                        .item-list-icon {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 15px;
                            /* border-radius: 2px; */
                            pointer-events: none;
                        }
                            .item-list-icon.small { font-size: 11px; }

                        .item-list-block {
                            display: flex;
                            pointer-events: none;
                            justify-content: center;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            overflow: hidden;

                            pointer-events: none;
                        }
                            .item-list-header {
                                display: block;
                                font-size: 11px;
                                font-weight: 600;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                pointer-events: none;
                            }
                            .item-list-subheader {
                                color: #bdbdbd;
                                font-size: 9px;
                                font-weight: 400;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;

                                pointer-events: none;
                            }

                    /* // INPUT //////////////////////////////////////////////////*/
                    .container-main-slide > .item-input {
                        position: relative;
                        overflow: hidden;

                        /* background-color: var(--main-background); */
                        background-color: transparent;

                        animation-name: stretch_item_input;
                        animation-duration: .15s;
                        animation-timing-function: ease-in;
                        animation-delay: 0;
                        animation-iteration-count: 1;
                        animation-direction: normal;
                        animation-fill-mode: both;
                        animation-play-state: paused;
                    }
                        @keyframes stretch_item_input {
                            from {
                                padding: 0;
                                height: 50px; 
                            }
                            to { 
                                padding: 8px;
                                height: 110px;
                            }
                        }

                        .item-input > .item-input-block {
                            display: grid;
                            grid-template-columns: 34px auto;
                            grid-template-rows: 50px;
                        }

                        /* .item-input-block {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            align-content: center;
                            flex-wrap: nowrap;
                            width: 100%;
                            margin: 8px 0 16px 0;

                            transition: .15s all;
                        } */
                            /* .item-input-icon {
                                font-size: 20px;
                                margin: 0 8px 0 0;

                                transition: .15s all;
                            } */
                            /* .item-input-header {
                                font-size: 14px;
                                font-weight: 600;
                                flex-grow: 1;

                                transition: .15s all;
                            } */
                        .item-input-box {
                            border-width: 2px;
                            border-style: solid;

                            color: var(--main-font-color-bold);
                            padding: 0 10px 0 10px;
                            height: 40px;
                            border-radius: 8px;
                            font-weight: 600;
                            font-size: 18px;
                            width: 100%;
                            outline: none;

                            background-color: #fafafa;
                        }
        .simulate-content > .footer {
            transform: translate(79px, 9px);

            width: 50px;
            height: 16px;

            border-radius: 8px;
            background-color: #eeeeee;

            border: 1px solid #e0e0e0;
        }